{% extends "base.html" %}

{% block nav_subscriber %}class="active"{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/codemirror.css">
{% endblock %}

{% block extra_js %}
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/sparql.js"></script>
<script>

    $('.code').each(function() {

        var $this = $(this),
                $code = $this.text();

        $this.empty();

        var myCodeMirror = CodeMirror(this, {
            value: $code,
            mode: 'application/x-sparql-query',
            lineNumbers: !$this.is('.inline'),
            readOnly: true,
            matchBrackets: true
        });

        //myCodeMirror.setSize(560,200)

    });





</script>
{% endblock %}


{% block container %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span10">
        <h2>{{ triple_type|capitalize }} triples:</h2>
    </div>
    </div>

    <div class="row">
        <div class="span12">
            {% if subscription.sub_type == 'sparql' %}
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Query
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="code">{{ subscription.sparql_query }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            <h5>Subscription: {{ subscription.s }} {{ subscription.p }} {{ subscription.o }}</h5>
            {% endif %}
            <h5> Type: {{ subscription.sub_type|capitalize }}</h5>
            <h5>Hits: <a href="{{ url_for('subscriber_triples', page = 1, subscription=subscription.id, triple_type="added") }}"><span class="subscription-added">{{ subscription.added }}</span></a> / <a href="{{ url_for('subscriber_triples', page = 1, subscription=subscription.id, triple_type="removed") }}"><span class="subscription-removed">{{ subscription.removed }}</span></a></h5>

        </div>
    </div>
    <div class="row">
        <div class="span12">

            <table class="table table-striped table-bordered">
                <tr class="triple">
                    <th>Subject</th>
                    <th>Predicate</th>
                    <th>Object</th>
                </tr>
                {% for triple in triples.items %}
                <tr class="triple">
                    <td>{{ triple.s }}</td>
                    <td>{{ triple.p }}</td>
                    <td>{{ triple.o }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="pagination">
                <ul>
                    {% for page in triples.iter_pages() %}
                        {% if page == triples.page %}
                            <li class="disabled"><a href="#">{{ page }}</a></li>
                        {% else %}
                            {% if page %}
                            <li><a href="{{ url_for('subscriber_triples', page = page, subscription=subscription.id, triple_type=triple_type) }}">{{ page }}</a></li>
                            {% else %}
                            <li class="disabled"><a href="#">...</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

{% endblock %}